@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Montserrat, Lato, "Open Sans", "Helvetica Neue", sans-serif;
}

.root {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url('./images/maps1.png');   
  background-size: cover;     
}

.container {
  padding: 30px;
  justify-content: center;
  background-color: whitesmoke;
  display: flex;
  margin: 0px;
  flex-direction: column;
  align-items: center;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.alert {
	box-sizing: border-box;
	background-color: #0DFF92;
	width: 100%;
	position: relative; 
	top: 0;
	left: 0;
	z-index: 300;
	padding: 20px 40px;
  color: #333333;
}

.alert label {
  font-size: 20px;
  font-family: Montserrat;
}